@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Montserrat:wght@300;400;700;900&display=swap");

@theme {
    --color-*: initial;
    --color-black: #080808;
    --color-dark: #111;
    --color-gray: #232323;
    --color-lightGray: #ebecf34d;
    --color-gold: gold;
    --color-white: #ebecf3;

    --font-*:initial;
    --font-base: "Montserrat";
    --font-curve: "Birthstone";

    --spacing-headerHeight: 80px;
    --spacing-offsetx: 4px;
    --spacing-offset2x: 8px;
    --spacing-offset3x: 12px;
    --spacing-offset4x: 16px;
    --spacing-offset5x: 20px;
    --spacing-offset6x: 24px;
    --spacing-offset7x: 28px;
    --spacing-offset8x: 32px;
}

html {
    @apply bg-dark;
    @apply text-white;
    @apply font-base;
}

*::selection {
    @apply bg-gold;
}
