@import "tailwindcss";

.btnShared {
  @apply cursor-pointer;
  @apply px-[var(--spacing-offset4x)] py-[var(--spacing-offset3x)];
  @apply text-[var(--text-cbase)];
  @apply rounded-[var(--radius-base)];
  @apply border border-solid;
  transition: background-size 0.3s ease;
}

.disabled {
  @apply bg-[var(--color-disabled)];
  @apply border-[var(--color-disabled)];
}

.filled {
  @apply border-[var(--color-gold)];
  @apply text-[var(--color-dark)];
  @apply bg-[var(--color-gold)];
  background-image: linear-gradient(var(--color-dark), var(--color-dark));
  background-size: 0 100%;
  @apply bg-no-repeat;
}

.filled:hover,
.filled:active,
.filled:focus {
  @apply text-[var(--color-gold)];
  background-size: 100% 100%;
}

:global(.light) .filled {
  @apply border-[var(--color-warmGold)];
  @apply text-[var(--color-white)];
  @apply bg-[var(--color-warmGold)];
  background-image: linear-gradient(
    var(--color-warmWhite),
    var(--color-warmWhite)
  );
}

:global(.light) .filled:hover,
:global(.light) .filled:active,
:global(.light) .filled:focus {
  @apply text-[var(--color-warmGold)];
}

.unfilled {
  @apply border-[var(--color-gold)];
  @apply text-[var(--color-gold)];
  @apply bg-[var(--color-dark)];
  background-image: linear-gradient(var(--color-gold), var(--color-gold));
  background-size: 0 100%;
  @apply bg-no-repeat;
}

.unfilled:hover,
.unfilled:active,
.unfilled:focus {
  @apply text-[var(--color-dark)];
  background-size: 100% 100%;
}

:global(.light) .unfilled {
  @apply border-[var(--color-warmBrown)];
  @apply text-[var(--color-warmBrown)];
  @apply bg-[var(--color-warmWhite)];
  background-image: linear-gradient(
    var(--color-warmGold),
    var(--color-warmGold)
  );
}

:global(.light) .unfilled:hover,
:global(.light) .unfilled:active,
:global(.light) .unfilled:focus {
  @apply text-[var(--color-white)];
  @apply border-[var(--color-warmGold)];
}
